body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.page-header {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 180px 0 200px 0;
  background-image: url(https://user-images.githubusercontent.com/84057152/155948441-1e80cf9d-2bc4-4ade-9b2c-8e3bf514fd54.png);
  background-size: cover;
  color: white;
}
.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color:#f1e2be;
  position:fixed;
  top:0;
  z-index:10;
}
.header-right {
 display:flex;
  background-color: #f1e2be;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
}
.lesson-wrapper {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.lesson {
  float: left;
  width: 33%;
}
.lesson-icon {
  position: relative;
}
.lesson-icon p {
  position: absolute;
  top: 90px;
  width: 100%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #b3aeb5;
}
.news {
  padding-bottom: 20px;
}
.container-n {
  width: 60%;
  margin: 0 auto;
}
.news-list li {
  padding: 10px 0;
  display:flex;
  align-items: center;
}
.news-list li a {
  color: gray;
}
.news-list li a:hover {
  opacity: 0.8;
}
.news-detail {
  padding-top: 10px;
  padding-left: 15px;
}
.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}
