@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    font-family: "Kokoro", Serif;
    color: #333;
    line-height: 1.7;
    background-color: #f6f8f9;
  }
a {
    text-decoration: none;
  }
img {
    max-width: 100%;
  }
@media screen and (min-width: 960px) {
    img {
      max-width: 960px;
    }
  }
  .main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    background-color: #f1e2be;
  }
  .main-nav li {
    margin-left: 36px;
  }
  .main-nav a {
    color: #432;
  }
  .main-nav a:hover {
    color: #333;
  }
  .page-header {
    display: flex;
  }
  .wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
  }
  .main-visual-img {
    background-image: url(images/main_visual.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: right;
  }
  /*見出し*/
  .page-title {
    font-size: 2.5rem;
    font-family: "Kokoro",serif;
    text-transform: uppercase;
    font-weight: normal;
  }
  .title {
    font-size: 1.5rem;
    font-family: "Kokoro",serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    border-bottom: #999;
}
  
/*メニュー*/
.container {
  display: flex;
  flex-direction: column;
  height: 650px;
}
.item {
  font-family: "Yumincho",serif;
  margin: 10px;
  padding: 10px;
}
.item img {
  display: block;
  margin: auto;
}
.item p {
  color: #333;
  text-align: center;
}
/*お知らせ*/
.news {
  position: relative;
  padding-top: 4px;
  margin-bottom: 15px;
}
.news-date {
  position: absolute;
}
.news-detail {
  margin-left: 120px;
}
.news-list,.access,.location-map {
  width: fit-content;
  margin: auto;
  list-style-type: none;
}
/* 共通のアイコンエフェクト */
.socialEffect__link {
  margin: .3em;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #bfbfbf;
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  transition: transform ease-out 0.2s;
}

.socialEffect__box li {
  display: inline-block;
}


/* インスタ用アイコン設定 */
.icon-instagram::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-instagram {
  display: inline-block;
  color: #fff;
}
.icon-instagram:hover {
  background: radial-gradient(
      circle farthest-corner at 32% 106%,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 10%,
      rgb(250, 145, 55) 28%,
      rgb(235, 65, 65) 42%,
      transparent 82%
    ),
    linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  transform: scale(0.9);
}

/* ツイッター用アイコン設定 */
.icon-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
}
.fab.fa-twitter {
  display: inline-block;
  color: #fff;
}
.icon-twitter:hover {
  background: #00b0ed;
  transform: scale(0.9);
}
.icon {
  margin: auto;
}
footer {
  text-align: center;
}
/*タブレット用*/
@media (min-width:768px) {
  .main-nav {
    font-size: 1rem;
    margin-top: 10px;
  }
  .main-nav li {
    margin: 0 20px;
  }
  .home-content {
    margin-top: 20%;
  }
  .container {
    display: flex;
    margin: 10px;
    padding: 10px;
  }
  .title {
    position: relative;
  }
}
/*PC用*/
@media (min-width:1024px){

}